<section>
  <h2 class="new-blog">New Blog Post</h2>

  <form class="new-post">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-url">Link</label>
      <input id="post-url" name="post-url" />
    </div>
    <div>
      <label for="post-body">Blog</label>
      <textarea id="post-body" name="post-body"></textarea>
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>
{{#if posts.length}}
<section>
  <h2>My Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      <article class="post">
        <div class="title">
            <a href="{{post.post_url}}" target="_blank">{{post.title}}</a>
            <p>{{post.body}}</p>
        </div>
        <div class="meta">
            <a href="/post/{{post.id}}">{{post.comments.length}} comment(s)</a>
        </div>
    </article>
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}
<script src="/javascript/add-posts.js"></script>